.favo{
  .favo__title{
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
  }
  background-color: #FFF;
  .favo__content{
    ul{
      display:flex;
      li{
        .favo__content-image{
          img{
            width: 200px;
            height: 200px;
          }
        }
        .favo__content-name{
        }
        h2{
          font-size: 12px;
        }
      }
      
    }
    
  }
}

