a{
  text-decoration: none;
  color: black;
}
.topVisual{
  width:100%;
  height: 560px;
  background-image: image-url('pict/bg-mainVisual-pict_pc.jpg');
  background-size: cover;
  background-position: top center;
  padding: 0 60px;
  display: flex;
  align-items: center;
}
.topVisualInner{
  color: #FFFFFF;
  font-family: "游ゴシック体";
  padding-top:35px;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  &__title{
    margin-top: 16px;
    font-size: 60px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    line-height: 60px;
  }
  &__text {
    font-size: 18px;
    margin-top: 16px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    line-height: 32px;
  }
  &__btns{
    margin-top: 24px;
    display: flex;
  }
  &__btn{
    width:180px;
    vertical-align: bottom;
    &--right{
      margin-left: 10px;
    }
  }
}
.topintroduction{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;

  .subtitle{
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 20px;
  }
  .subtitle-under{
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .lists{
    display: flex;
    justify-content: center;
    .list{
      width: 30%;
      max-width: 300px;
      margin: 25px;
      position: relative;
      .number{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4%;
        font-size: 30px;
        text-align: center;
        margin: 0 5px 0 0;
        padding: 10px 20px;
        background-color: #3CCACE;
        color: #fff;
      }
      img{
        width: 100%;
        vertical-align: bottom;
      }
      .text{
        width: 100%;
        h2{
          font-weight: bold;
          font-size: 24px;
          margin: 20px 0px;
          color: #3CCACE;
          span{
            color: black;
          }
        }
        h3{
          font-weight: bold;
          font-size: 18px;
          text-align: left;
        }
        h4{
          font-weight: bold;
          font-size: 24px;
          margin: 20px 0px;
          span{
            color: #3CCACE;
          }
        }
      }
    }
  }
}
.topMiddleDl{
  padding-top: 30px;
  background-image: image-url("pict/bg-topMiddleDl-pict.jpg");
  background-position: bottom right;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  
  .topMiddleDl_inner{
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    .subtitle{
      font-size: 27px;
      margin-bottom: 20px;
      line-height: 1.4;
    }
    .text{
      font-size: 18px;
      margin-bottom: 30px;
    }
    .btn{
      img{
        margin-right: 10px;
        width: 180px;
      }
    }
  }
}

.topkeyfeatures{
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  .subtitle{
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 10px;
  }
  .subtitle-under{
    margin-top: 0px;
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .lists{
    display: flex;
    justify-content: center;
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: auto;
    .list{
      width: calc(1 / 3 * 100%);
      margin: 25px;
      img{
        width: 100%;
        max-width: 200px;
      }
      h2{
        font-weight: bold;
        font-size: 20px;
        margin: 20px 0px;
      }
      h3{
        text-align: left;
        font-weight: bold;
        font-size: 17px;
      }
    }
  }
}
.pickupContainer{
  padding-top: 80px;
  background-color: #f8f8f8;
  height: 100%;
  &--lower{
    padding-bottom: 80px;
  }
  .head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;

  }
  .productHead{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    a{
      color: #3CCACE;
    }
  }
  .productLists{
    display: flex;
    justify-content: center;
    a{
      color: black;
    }
    .productList{
      display: inline-flex;
      .productList-img{
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        img{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
        img:hover{
          opacity: 0.5;
        }
        .product_buy{
          color: red;
          font-size: 20px;
          position: absolute;
          z-index: auto;
          top: 45px;
          left: auto;
          padding: 15px 30px 0;
          font-weight: bold;
        }
      }
      
      .productList-body{
        background-color: white;
        width: 220px;
        padding: 15px;
        .details{
          font-size: 13px;
          ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
              display: flex;
              .icon{
                position: relative;
                top: 2px;
                left: 0px;
                right: 2px;
              }
              .like{
                margin-left: 3px;
              }
            }
          }
          h4{
            font-size: 9px;
          }
        }
      }
    }
  }
}
.header{
  padding: 0 60px;
  &__contents{
    margin: 0 auto;
    width:100%;
    max-width: 1040px;
    min-height: 82px;
    padding-top: 15px;
  }
  .headerUpper{
    display: flex;
    &__logo{
      width:140px;
      margin-right: 30px;
    }
    &__form{
      padding-top:5px;
      width:100%;
      display: flex;
    }
    &__input{
      width:calc( 100% - 36px );
      height: 36px;
      padding-left: 5px;
    }
    &__btn{
      width:36px;
      height:36px;
      background-color: #3CCACE;
      padding: 8px;
      cursor: pointer;
    }
    &__btnicon{
      width: 100%;
      height: 100%;
    }
  }
  .headerUnder{
    margin:3px 0 7px;
    font-size: 14px;
    line-height: 38px;
    display: flex;
    justify-content: space-between;
    &__leftList{
      display: flex;
      color: #333;
      &--start{
        padding-right: 30px;
      }
      &--next{
        padding-left: 16px;
      }
    }
    &__rightList{
      a{
        color: #333;
      }
      display: flex;
      &--next{
        padding-left: 16px;
      }
    }
  }
}
.exhibitionBtn{
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 120px;
  padding: 15px;
  background-color: #3CCACE;
  border-radius: 4%;
  text-align: center;
  z-index: 1;
  &__text{
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    font-family: "游ゴシック体";
  }
  &__icon{
    margin-top:5px;
    vertical-align: bottom;
  }
}
.banner{
  background-image: image-url('pict/bg-appBanner-pict.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 40px;
}
.bannerInner{
  color: #FFFFFF;
  text-align: center;
  &__title{
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__text {
    font-size: 35px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__btns{
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
  }
  &__btn{
    width:180px;
    vertical-align: bottom;
    &--right{
      margin-left: 10px;
    }
  }
}
.footer{
  background-color: #272727;
  color:#FFFFFF;
  padding: 60px 0;
  text-align: center;
  font-family: "游ゴシック体";
  p{
    font-size: 14px;
  }
  &__logo{
    font-size: 14px;
  }
  &__image{
    width:100%;
    max-width: 160px;
  }
}
.footerLists{
  display: flex;
  max-width: 840px;
  margin: 0 auto;
  &__list{
    width:calc(1 / 3 * 100%);
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    h2{
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      text-decoration: none;
      color:#FFFFFF;
      font-size: 12px;
      line-height: 32px;
    }
    li{
      margin-right: 2%;
    }
  }
}