.sell-container {
  background: #f5f5f5;
  font-size: 14px;
  color: #333;

  label {
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: #0095ee;
    cursor: pointer;
  }
  p{
    text-align: left;
  }

  .sell-container-header {
    padding: 38px 0;
    text-align: center
  }  
  .frm {
    width: 185px;
    height: 49px;
  }
  

  
  .sell-container-main {
    padding: 20px;
    background-color: #fff;
    width: 700px;
    margin: 0 auto;

    .product-content__drop{
      &__name {
        padding: 10px 40px;
        text-align: left;
      }
      .container {
        padding: 10px 40px;
      }
    }

    .drop-box {
      margin: 8px 0 0;
      display: flex;
      justify-content: center;
      min-height: 120px;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }


    .product__text__field{
      width: 600px;
      margin: 8px 0 0;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      text-align: left;
      &--wide {
        width: 600px;
        margin: 8px 0 0;
        height: 120px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }

    select {
      width: 600px;
      margin: 8px 0 0;
      height: 46px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    

    .require {
      background: #3CCACE;
      display: inline-block;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
      &--gray {
        background: #bfbfbf;
        display: inline-block;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
    }

  .product-content__name {
    border-top: 1px solid #EEEEEE;
    padding-top: 30px;
    &__name {
      padding: 10px 40px;
      text-align: left;
    }
    &__info {
      padding: 10px 40px;
      text-align: left;
    }
    .count-up {
      text-align: right;
      color: #888;
      font-size: 12px;
      margin-top: 20px;
    }
  }

  .product-content__detail {
    border-top: 1px solid #EEEEEE;
    margin-bottom: 20px;
    
    &__name {
      padding: 10px 40px;
      text-align: left;
    }
    &__info {
      padding: 10px 40px;
      text-align: left;
    }
    &__status {
      padding: 10px 40px;
      text-align: left;
    }
    &__size{
      padding-top: 10px;
    }
    .sell-content {
      color: rgb(136, 136, 136);
      font-weight: bold;
      margin: 30px 40px;
      text-align: left;
    }
  }

  .product-content__delivery {
    border-top: 1px solid #EEEEEE;
    margin-bottom: 20px;
    &__name {
      padding: 10px 40px;
      text-align: left;
    }
    &__info {
      padding: 10px 40px;
      text-align: left;
    }
    &__days {
      padding: 10px 40px;
      text-align: left;
    }
    .sell-content {
      color: rgb(136, 136, 136);
      font-weight: bold;
      margin: 30px 40px;
      text-align: left;
    }
  }

  .product-content__price {
    border-top: 1px solid #EEEEEE;
    &__text {
      margin: 40px;
      height: 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .fee {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding: 10px 40px;
      height: 46px;
      text-align: center;
      border-bottom: 1px solid #EEEEEE;
    }
    .profit {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding: 10px 40px;
      height: 46px;
      text-align: center;
    }
    .sell-content {
      color: rgb(136, 136, 136);
      font-weight: bold;
      margin: 30px 40px;
      text-align: left;
    }
  }

  .product__num__field{
    width: 300px;
    margin: 8px 0 0;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    text-align: right;
  }

  .sell__block__form__btn {
    text-align: center;
    text-decoration: none;
    .btn-red {
      width: 400px;
      height: 50px;
      background-color:#ea352d;
      border:none;
      border-radius: 5px;
      margin: 30px 0;
      color:white;
      font-size: 20px;
      cursor: pointer;
    }
    .btn-gray {
      width: 400px;
      height: 50px;
      background-color:#ccc;
      border:none;
      border-radius: 5px;
      margin: 20px;
      font-size: 20px;
      cursor: pointer;
    }
  }



  .product-content__caution {
    .caution-text {
      font-size: 12px;
      padding-top: 20px;
      margin-bottom: 30px;
    }
  }


  }
  .footer {
    width: 100%;
    background-color: #EEEEEE;
    text-align: center;
    &__content {
      width: 30%;
      margin:0 auto; 
      padding: 40px 0px;
      &__main {
        .footer__lists {
          font-size:12px;
          .footer__list {
            display:inline-block;
            width: 32%;
            color:black;
          }
        }
      }
      
      .footer__copyright {
        font-size: 12px;
        color:black;
        text-align: center;
      }
    }
  }
}

#image-boxes{
  display: flex;
  max-width: 570px;
  overflow: hidden;
}
#image-box{
  min-height:114px;
  label{
    float: left;
  }
}
.image__addbox{
  min-width: 114px;
  min-height: 134px;
  background-color: lightgray;
  display: inline-block;
  &--add{
    min-height: 134px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  &--textbox{
    text-align: center;
    font-size:14px;
    font-weight: normal;
    i{
      font-size: 24px;
    }
  }
}
.image__startbox{
  background-color: lightgray;
  width: 570px;
  height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--textbox{
    display: flex;
    flex-direction: column;
  }
  &--camera{
    text-align: center;
    font-size: 24px;
  }
  &--text{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
  }
}
.buildImg{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
  &--start{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    float: left;
  }
  &__edit{
    position: absolute;
    padding: 0 2px;
    top:2px;
    right: 2px;
    color: #FFF;
    height:20px;
    line-height: 20px;
    background-color: #3CCACE;
    border: 1px solid black;
    border-radius: 2px;
  }
}
.js-remove{
  width:112px;
  height:20px;
  text-align: center;
  line-height: 20px;
  color: #FFF;
  background-color: #3CCACE;
}
