.topVisual
  .topVisualInner
    %h2.topVisualInner__title
      %br
      人生を変えるフリマアプリ
    %p.topVisualInner__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .topVisualInner__btns
      =link_to '#' do
        =image_tag 'icon/app-store.svg',alt:"apple-play",class:"topVisualInner__btn"
      =link_to '#' do
        =image_tag 'icon/google-play.svg',alt:"google-play",class:"topVisualInner__btn topVisualInner__btn--right"
.topintroduction
  .subtitle
    FURIMAが選ばれる３つの理由
  .subtitle-under
  .lists
    .list
      %span.number
        1
      =image_tag 'pict/pict-reason-01.jpg',alt:"pict-reason01",class:"list-image1"
      .text
        %h2 
          3分 
          %span ですぐに出品
        %h3 スマホで入力するだけで簡単に出品できる！
    .list
      %span.number
        2
      =image_tag 'pict/pict-reason-02.jpg',alt:"pict-reason02",class:"list-image2"
      .text
        %h2
          シンプル
          %span で使いやすい
        %h3 めんどくさい入力は必要なく、検索も購入もスムーズ！
    .list
      %span.number
        3
      =image_tag 'pict/pict-reason-03.jpg',alt:"pict-reason03",class:"list-image3"
      .text
        %h4
          手数料
          %span 業界最安
        %h3 最大3%でお得に出品&購入！
.topMiddleDl
  .topMiddleDl_inner
    .subtitle
      会員数日本一位
    .text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      欲しかったあの商品にも出会えるかもしれません。
    .btn
      =link_to '#' do
        =image_tag 'icon/app-store.svg',alt:"app-store",class:"topMiddleDl_inner__img"
      =link_to '#' do
        =image_tag 'icon/google-play.svg',alt:"google-play",class:"topMiddleDl_inner__img__right"


.topkeyfeatures
  .subtitle
    FURIMAの特徴
  .subtitle-under
  .lists
    .list
      =image_tag 'icon/icon-01.png',alt:"furima-pict-img01",class:"topkeyfeatures-img01"
      %h2 簡単に売り買いできる
      %h3 スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .list
      =image_tag 'icon/icon-03.png',alt:"furima-pict-img02",class:"topkeyfeatures-img02"
      %h2 売上金は即日振込みに対応
      %h3 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .list
      =image_tag 'icon/icon-04.png',alt:"furima-pict-img03",class:"topkeyfeatures-img03"
      %h2 様々な支払いに対応
      %h3 お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  
.pickupContainer
  .head
    ピックアップカテゴリー
  .productBox
    .productHead
      =link_to '#' do
        新規投稿商品
    = render 'layouts/items-contents'

.pickupContainer.pickupContainer--lower
  .head
    ピックアップブランド
  .productBox
    .productHead
      =link_to '#' do
        アーカイバ
    = render 'layouts/items-contents'