.devise-footer
  .devise-footer__top
    %li プライバシーポリシー
    %li フリマ利用規約
    %li 特定商品に関する規約
  .devise-footer__mid
    =image_tag 'logo/logo.png',alt:"logo",class:"botic"
  .devise-footer__bot
    ©️furima,inc