.banner
  .bannerInner
    %h2.bannerInner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.bannerInner__text 今すぐ無料ダウンロード
    .bannerInner__btns
      =link_to '#' do
        =image_tag 'icon/app-store.svg',alt:"apple-store",class:"bannerInner__btn"
      =link_to '#' do
        =image_tag 'icon/google-play.svg',alt:"google-play",class:"bannerInner__btn bannerInner__btn--right"
.footer
  %ul.footerLists
    %li.footerLists__list
      %h2.footerLists__title FURIMAについて
      %ul
        %li
          =link_to "会社概要(運営会社)","#"
        %li
          =link_to "プライバシーポリシー","#"
        %li
          =link_to "FURIMA利用規約","#"
        %li
          =link_to "ポイントに関する特約","#"
    %li.footerLists__list
      %h2.footerLists__title FURIMAを見る
      %ul
        %li
          =link_to "カテゴリー一覧", categories_path
        %li
          =link_to "ブランド一覧","#"
    %li.footerLists__list
      %h2.footerLists__title ヘルプ＆ガイド
      %ul
        %li
          =link_to "FURIMAガイド","#"
        %li
          =link_to "FURIMAロゴ利用ガイドライン","#"
        %li
          =link_to "お知らせ","#"
  .footer__logo
    =link_to root_url do
      =image_tag 'logo/logo-white.png',alt:"logo-white",class:"footer__image"
    %p ©️ FURIMA