.header
  .header__contents
    .headerUpper
      =link_to root_url do
        =image_tag 'logo/logo.png',alt:"header-logo",class:"headerUpper__logo"
      .headerUpper__form
        %input.headerUpper__input{placeholder:"キーワードから探す"}
        .headerUpper__btn
          =image_tag 'icon/icon-search1.png',alt:"icon-search",class:"headerUpper__btnicon"
    .headerUnder
      %ul.headerUnder__leftList
        %li.headerUnder__leftList--start カテゴリー
        %li.headerUnder__leftList--next ブランド
      -if current_user
        %ul.headerUnder__rightList
          %li
            =link_to "マイページ","/users/show"
          %li.headerUnder__rightList--next
            =link_to "ログアウト",destroy_user_session_path, method: :delete
      -else
        %ul.headerUnder__rightList
          %li
            =link_to "ログイン",new_user_session_path
          %li.headerUnder__rightList--next
            =link_to "新規会員登録",new_user_registration_path