.productLists
  .productList
    - @items.each do |item|
      =link_to item do
        .productList-img
          =image_tag item.photos.first.image.url
          -if item.purchaser_id
            %label.product_buy SOLD OUT
        .productList-body
          .name
            = item.name
          .details
            %ul
              %li
                = item.price 
                円
              %li
                = icon('fas', 'star', class: 'icon')
                .like 
                = Favorite.where(item_id: item.id).count
            %h4 (税込)
